<!DOCTYPE html>
<html>
<head>
    <title>Tambah Resep</title>
</head>
<body>
    <h1>Tambah Resep</h1>
    <form action="{{ url_for('tambah_resep') }}" method="post" enctype="multipart/form-data">
        <label for="name">Nama Resep:</label><br>
        <input type="text" id="name" name="name" required><br>
        
        <label for="ingredients">Bahan:</label><br>
        <textarea id="ingredients" name="ingredients" required></textarea><br>
        
        <label for="instructions">Cara pembuatan:</label><br>
        <textarea id="instructions" name="instructions" required></textarea><br>
        
        <label for="photo">Unggah Foto:</label><br>
        <input type="file" id="photo" name="photo_url"><br><br>
        
        <input type="submit" value="Simpan">
    </form>
</body>
</html>
